.header{
    width: 100%;
    height: 5rem;
    background-color: #C4D3DA;
    position: fixed;
    top: 0;
}
.content_header{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content_link{
    padding-left: 4rem;
    width: 50%;
}
a{
    color: #222222;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
}
.ImgLogo{
    width: 3rem;
}